nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
   background-color: #fff;
   box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* .IELTSlogo{
width: auto;
height:135px;
} */
.Logo{
    margin: 0;
    padding: 0;
    padding-bottom: 14px;
}
.NavUl{
    list-style: none;
    display: flex;
    gap: 25px;
}
.li{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: relative;
}
.li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; 
    height: 3px; 
    width: 0; 
    background-color: #000; 
    transition: width 0.3s ease; 
}

.li:hover::after {
    width: 100%; 
}
.loginBtn{
    height: 27px;
    width: 80px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.loginBtn:hover{
     background-color: #1d4ed8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}