.navbar .nav-link {
  color: rgb(58, 56, 56); 
}

.navbar .nav-link:hover {
  color: #2563eb; 
}

.logoText{
    font-size: 20px;
    padding-bottom: 6px;
}

.loginBtn{
    height: 28px;
    width: 80px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding:0px;
}
.loginBtn:hover{
     background-color: #1d4ed8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}